<h3><i class="fa fa-angle-right"></i> Subkategori</h3>

<div class="row">
    <div class="form-panel">
        <h4 class="mb"><i class="fa fa-angle-right"></i> Tambah subkategori obat</h4>

        <form class="form-horizontal style-form" role="form" ng-submit="addSubCategory()">
            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label" for="category_id">
                    Kategori
                </label>
                <div class="col-sm-10">
                    <select id="category_id" class="form-control input-sm " ng-model="category"
                        ng-options="category.name for category in categories"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label" for="subcategory_id">
                    Subkategori
                </label>
                <div class="col-sm-10">
                    <input id="subcategory_id" type="text" class="form-control input-sm" ng-model="subCategoryName"
                       placeholder="Nama">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-sm">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row mt">
    <div class="col-lg-12">
        <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i> List subkategori</h4>
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Nama Subkategori</th>
                    <th>Nama Kategori</th>
                    <th>Aksi</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="subcategory in subcategories">
                    <td>{{ subcategory.id }}</td>
                    <td>{{ subcategory.name }}</td>
                    <td>{{ subcategory.category_name }}</td>
                    <td>
                        <a ng-click="deleteSubCategory(subcategory)" class="btn btn-alt m-r-5">Hapus</a>
                        <a ng-click="updateSubCategory(subcategory.id)" class="btn btn-alt m-r-5">Update</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>