<div class="row">
    <div class="form-panel">
        <a class="btn btn-default pull-right" ng-href="#/subcategory/">Kembali ke list subkategori</a>

        <h3 class="mb"><i class="fa fa-angle-right"></i> Update subkategori obat</h3>

        <div ng-class="alert">
            {{ responseMessage }}
        </div>

        <form class="form-horizontal style-form" role="form" ng-submit="updateSubCategory()">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="category_id">
                    Kategori
                </label>
                <div class="col-sm-10">
                    <select id="category_id" class="form-control input-sm " ng-model="category"
                        ng-options="category.name for category in categories"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="subcategory_id">
                    Subkategori
                </label>
                <div class="col-sm-10">
                    <input id="subcategory_id" type="text" class="form-control input-sm" ng-model="subcategory.name"
                       placeholder="Nama">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-sm">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
