<h3><i class="fa fa-angle-right"></i> Penjualan</h3>

<div class="row mt">
  <div class="col-lg-8">
    <div class="content-panel">
      <h4><i class="fa fa-angle-right"></i> List satuan unit</h4>

      <div class="form-inline">
        <label>Cari produk di sini</label>
        <input select-all type="text" placeholder="Ketik nama obat" ng-model="selected"
               typeahead="item as item.name for item in getProducts($viewValue) | filter:$viewValue | limitTo:8"
               class="form-control" typeahead-loading="loadingLocations"
               typeahead-on-select='onSelect($item, $model, $label)'>
        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>

        <button class="btn btn-default" ng-click="openModal('lg')">Tambah Resep</button>
      </div>

      <div ng-class="alert">
        {{ responseMessage }}
      </div>

      <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
          <th>Hapus</th>
          <th>Nama</th>
          <th>Id Produk</th>
          <th>Satuan</th>
          <th>Harga</th>
          <th>Kuantitas</th>
          <th>Diskon</th>
          <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat=" product in products ">
          <td class="centered"><i class="fa fa-trash fa-3" ng-click="removeProduct($index)"></i></td>
          <td>{{ product.name }}</td>
          <td>{{ product.id }}</td>
          <td>
            {{ product.unit_type.name }}
          </td>
          <td class="goright">{{ product.price | currency:"Rp. " }}</td>
          <td>
            <input select-all numeric type="text" size="6" maxlength="6" ng-model="product.quantity"
                   ng-change="updateTotal()" class="form-control goright">
          </td>
          <td>
            <input select-all numeric type="text" size="4" maxlength="4" ng-model="product.discount"
                   ng-change="updateTotal()" class="form-control goright">
          </td>
          <td class="goright">{{ product.total | currency:"Rp. " }}</td>
        </tr>
        <tr ng-repeat=" prescription in prescriptions ">
          <td class="centered"><i class="fa fa-trash fa-3" ng-click="removeProduct($index)"></i></td>
          <td>Resep {{ $index +1 }}</td>
          <td>{{ prescription.id }}</td>
          <td>
            Resep
          </td>
          <td class="goright">{{ prescription.price | currency:"Rp. " }}</td>
          <td>
            {{ prescription.quantity }}
          </td>
          <td>
            0
          </td>
          <td class="goright">{{ prescription.total | currency:"Rp. " }}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td></td>
          <td>Total</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="goright">{{ totalPrice|currency:"Rp. " }}</td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <!-- col-lg-8 -->
  <div class="col-lg-4">
    <div class="content-panel">
      <h4><i class="fa fa-angle-right"></i> Total Pembayaran</h4>
      <table class="table table-bordered table-striped table-condensed">
        <tbody>
        <tr>
          <td class="goleft">Total</td>
          <td class="goright">{{ totalPrice|currency:"Rp. " }}</td>
        </tr>
        <tr>
          <td class="goleft">Jumlah Uang</td>
          <td class="goright">
            <input select-all numeric type="text" ng-model="cash" ng-change="updateChange()"
                   class="form-control goright">
          </td>
        </tr>
        <tr>
          <td class="goleft">Kembalian</td>
          <td class="goright">{{ change|currency:"Rp. " }}</td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button class="btn btn-sm" ng-click="createPayment()">Bayar</button>
            <p>{{ errorMessage }}</p>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- col-lg-4 -->
</div>


<script type="text/ng-template" id="modalPrescription.html">
  <div class="modal-header">
    <h3 class="modal-title">Tambah Resep</h3>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12">
        <div class="content-panel">
          <h4><i class="fa fa-angle-right"></i> List satuan unit</h4>

          <div class="form-inline">
            <label>Cari produk di sini</label>
            <input select-all type="text" placeholder="Ketik nama obat" ng-model="selected"
                   typeahead="item as item.name for item in getProducts($viewValue) | filter:$viewValue | limitTo:8"
                   class="form-control" typeahead-loading="loadingLocations"
                   typeahead-on-select='onSelectPrescription($item, $model, $label)'>
            <input select-all type="text" placeholder="Ketik nama embalase" ng-model="embalase_name"
                   typeahead="item as item.name for item in getEmbalases($viewValue) | filter:$viewValue | limitTo:8"
                   class="form-control" typeahead-loading="loadingLocations"
                   typeahead-on-select='onSelectEmbalase($item, $model, $label)'>
            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
            <select class="form-control" ng-model="doctor" ng-options="doctor.user.first_name for doctor in doctors">
              <option value="">-- Pilih dokter --</option>
            </select>
            <input select-all type="text" placeholder="Uang service" ng-model="cost_service" ng-change="updateTotal()">
          </div>

          <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr>
              <th>Hapus</th>
              <th>Nama</th>
              <th>Id Produk</th>
              <th>Satuan</th>
              <th>Harga</th>
              <th>Kuantitas</th>
              <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat=" prescription in prescriptions ">
              <td class="centered"><i class="fa fa-trash fa-3" ng-click="removePrescription($index)"></i></td>
              <td>{{ prescription.name }}</td>
              <td>{{ prescription.id }}</td>
              <td>
                {{ prescription.unit_type.name }}
              </td>
              <td class="goright">{{ prescription.price | currency:"Rp. " }}</td>
              <td>
                <input select-all numeric type="text" size="6" maxlength="6" ng-model="prescription.quantity"
                       ng-change="updateTotal()" class="form-control goright">
              </td>
              <td class="goright">{{ prescription.total | currency:"Rp. " }}</td>
            </tr>
            <tr ng-repeat=" embalase in embalases ">
              <td class="centered"><i class="fa fa-trash fa-3" ng-click="removeEmbalase($index)"></i></td>
              <td>{{ embalase.name }}</td>
              <td>{{ embalase.id }}</td>
              <td>
                Embalase
              </td>
              <td class="goright">{{ embalase.price | currency:"Rp. " }}</td>
              <td>
                <input select-all numeric type="text" size="6" maxlength="6" ng-model="embalase.quantity"
                       ng-change="updateTotal()" class="form-control goright">
              </td>
              <td class="goright">{{ embalase.total | currency:"Rp. " }}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td></td>
              <td>Total</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="goright">{{ totalPrice|currency:"Rp. " }}</td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <!-- col-lg-8 -->
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>