<h3><i class="fa fa-angle-right"></i> Kategori</h3>

<div class="row mt">
    <div class="col-lg-12">
        <div class="content-panel">
            <a class="btn btn-default pull-right" ng-href="#/category/add/" href="#/category/">Tambah Kategori</a>
            <h4><i class="fa fa-angle-right"></i> List kategori</h4>
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Nama</th>
                    <th>Indeks Harga Jual</th>
                    <th>Indeks Harga Jual untuk Resep</th>
                    <th>Aksi</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="category in categories">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.idx_sale_price }}</td>
                    <td>{{ category.idx_sale_price_prescription }}</td>
                    <td>
                        <a ng-click="deleteCategoryLink(category)" class="btn btn-alt m-r-5">Hapus</a>
                        <a ng-click="updateCategoryLink(category.id)" class="btn btn-alt m-r-5">Update</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /content-panel -->
    </div>
    <!-- /col-lg-12 -->
</div><!-- /row -->
