<h3><i class="fa fa-angle-right"></i> Kategori</h3>

<div class="row">
    <div class="form-panel">
        <a class="btn btn-default pull-right" ng-href="#/category/">Kembali ke list kategori</a>
        <h3 class="mb"><i class="fa fa-angle-right"></i> {{ title }}</h3>

        <div ng-class="alert">
            {{ responseMessage }}
        </div>

        <form class="form-horizontal style-form" role="form" ng-submit="updateCategory()">
            <input type="hidden" ng-value="category.id">
            <div class="form-group">
                <label class="col-sm-4 control-label" for="category_id">
                    Nama Kategori
                </label>
                <div class="col-sm-8">
                    <input type="text" id="category_field" class="form-control input-sm" ng-model="category.name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="category_id">
                    Index harga jual beli langsung
                </label>
                <div class="col-sm-8">
                    <input type="text" id="idx_sale_price_field" class="form-control input-sm" ng-model="category.idx_sale_price">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="category_id">
                    Index harga jual untuk resep
                </label>
                <div class="col-sm-8">
                    <input type="text" id="idx_sale_price_prescription_field" class="form-control input-sm" ng-model="category.idx_sale_price_prescription">
                </div>
            </div>
            <button type="submit" class="btn btn-sm">Submit</button>
        </form>
        <br/>
    </div>
</div>
