<h3><i class="fa fa-angle-right"></i> Dokter</h3>

<div class="row mt">
  <div class="col-lg-12">
    <div class="content-panel">
      <a class="btn btn-default pull-right" ng-href="#/doctor/add/" href="#/doctor/">Tambah Dokter</a>
      <h4><i class="fa fa-angle-right"></i> List dokter</h4>
      <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
          <th>No.</th>
          <th>Nama</th>
          <th>Username</th>
          <th>Alamat</th>
          <th>Kota</th>
          <th>No Telpon / Handphone</th>
          <th>Aksi</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="doctor in doctors">
          <td>{{ $index + 1 }}</td>
          <td>{{ doctor.user.first_name }}</td>
          <td>{{ doctor.user.username }}</td>
          <td>{{ doctor.address }}</td>
          <td>{{ doctor.city }}</td>
          <td>{{ doctor.phone_number }}</td>
          <td>
            <a ng-click="deleteDoctor(doctor)" class="btn btn-alt m-r-5">Hapus</a>
            <a href="#/doctor/update/{{ doctor.id }}" class="btn btn-alt m-r-5">Update</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- /content-panel -->
  </div>
  <!-- /col-lg-12 -->
</div><!-- /row -->
