<h3><i class="fa fa-angle-right"></i> Dokter</h3>

<div class="row">
  <div class="form-panel">
    <a class="btn btn-default pull-right" ng-href="#/doctor/">Kembali ke list dokter</a>

    <h3 class="mb"><i class="fa fa-angle-right"></i> {{ title }}</h3>

    <div ng-class="alert">
      {{ responseMessage }}
    </div>

    <form class="form-horizontal style-form" role="form" ng-submit="updateDoctor()">
      <input type="hidden" ng-value="doctor.id">

      <div class="form-group">
        <label class="col-sm-4 control-label">
          Nama
        </label>

        <div class="col-sm-8">
          <input type="text" id="doctor_field" class="form-control input-sm" ng-model="doctor.name">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">
          Alamat
        </label>

        <div class="col-sm-8">
          <input type="text" id="idx_sale_price_field" class="form-control input-sm" ng-model="doctor.address">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">
          Kota
        </label>

        <div class="col-sm-8">
          <input type="text" id="idx_sale_price_prescription_field" class="form-control input-sm"
                 ng-model="doctor.city">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">
          No. Telpon / Handphone
        </label>

        <div class="col-sm-8">
          <input type="text" numeric id="idx_sale_price_prescription_field" class="form-control input-sm"
                 ng-model="doctor.phone_number">
        </div>
      </div>
      <button type="submit" class="btn btn-sm">Submit</button>
    </form>
    <br/>
  </div>
</div>
