<h3><i class="fa fa-angle-right"></i> Produk</h3>

<div class="row mt">
    <div class="col-lg-12">
        <div class="content-panel">
            <a class="btn btn-default pull-right" href="#/product/add">Tambah Produk</a>
            <h4><i class="fa fa-angle-right"></i> List produk</h4>
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Nama Produk</th>
                    <th>Kategori</th>
                    <th>Indeks Harga Jual</th>
                    <th>Indeks Harga Jual Resep</th>
                    <th>Harga dasar</th>
                    <th>Pabrik</th>
                    <th>Satuan</th>
                    <th>Aksi</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in products">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.category.name }}</td>
                    <td>{{ product.category.idx_sale_price }}</td>
                    <td>{{ product.category.idx_sale_price_prescription }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.factory.name }}</td>
                    <td>{{ product.unit_type.name }}</td>
                    <td>
                        <a ng-click="deleteProduct(product)" class="btn btn-alt m-r-5">Hapus</a>
                        <a href="#/product/update/{{ product.id }}" class="btn btn-alt m-r-5">Update</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
