<h3><i class="fa fa-angle-right"></i> Produk</h3>

<div class="row">
    <div class="form-panel">
        <a class="btn btn-default pull-right" ng-href="#/product/">Kembali ke list produk</a>

        <h3 class="mb"><i class="fa fa-angle-right"></i> {{ title }}</h3>

        <form class="form-horizontal style-form" role="form" ng-submit="updateProduct()">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="category_id">
                    Kategori
                </label>
                <div class="col-sm-10">
                    <select id="category_id" ng-change="getSubcategories(category)" class="form-control input-sm " ng-model="category"
                        ng-options="category.name for category in categories">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="unit_types_id">
                    Satuan Unit
                </label>
                <div class="col-sm-10">
                    <select id="unit_types_id" class="form-control input-sm " ng-model="unit_type"
                        ng-options="unit_type.name for unit_type in unit_types">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="unit_types_id">
                    Pabrik
                </label>
                <div class="col-sm-10">
                    <select id="unit_types_id" class="form-control input-sm " ng-model="factory"
                        ng-options="factory.name for factory in factories">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="name_id">
                    Nama produk
                </label>
                <div class="col-sm-10">
                    <input id="name_id" type="text" class="form-control input-sm" ng-model="product.name"
                       placeholder="Nama produk">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="name_id">
                    Barcode / Nomor kode
                </label>
                <div class="col-sm-10">
                    <input id="name_id" type="text" class="form-control input-sm" ng-model="product.barcode"
                       placeholder="Barcode">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="price_id">
                    Harga jual
                </label>
                <div class="col-sm-10">
                    <input id="price_id" type="text" class="form-control input-sm" ng-model="product.price"
                       placeholder="Harga jual">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-sm">Submit</button>
                </div>
            </div>
        </form>
        <div ng-class="alert">
            {{ responseMessage }}
        </div>
    </div>
</div>
