<h3><i class="fa fa-angle-right"></i> Embalase</h3>

<div class="row mt">
    <div class="col-lg-12">
        <div class="content-panel">
            <a class="btn btn-default pull-right" ng-href="#/embalase/add/" href="#/embalase/">Tambah Embalase</a>
            <h4><i class="fa fa-angle-right"></i> List embalase</h4>
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Nama</th>
                    <th>Harga</th>
                    <th>Aksi</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="embalase in embalases">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ embalase.name }}</td>
                    <td>{{ embalase.price }}</td>
                    <td>
                        <a ng-click="deleteEmbalase(embalase)" class="btn btn-alt m-r-5">Hapus</a>
                        <a href="#/embalase/update/{{ embalase.id }}" class="btn btn-alt m-r-5">Update</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /content-panel -->
    </div>
    <!-- /col-lg-12 -->
</div><!-- /row -->
